<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Jogos143</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Jogos143.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
</head>
<body>
    <header class="top-header">
        <div class="logo-area">
            <a asp-controller="Home" asp-action="Index" class="a">
                <img src="/img/Logo.png" class="logo-icon" />
                <span class="logo-text">Jogos143</span>
            </a>
        </div>
        <nav class="navbar">
            <div class="container-fluid">
                <div>
                    <button class="navbar-toggler ms-auto d-flex " type="button"
                            data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar"
                            aria-controls="offcanvasNavbar">
                        <span class=" bi-list fs-1 text-white" aria-hidden="true"></span>
                    </button>
                    <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                            <h1 class="offcanvas-title text-white" id="offcanvasNavbarLabel"> Menu</h1>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="navbar-nav" style="line-height: 1.5; font-size: larger">
                               
                                <hr class="text-white">
                                <li class="nav-item"><a class="nav-link text-white bi bi-person-circle" asp-controller="Home" asp-action="JogosAlfas">Lista A-Z</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </nav>
    </header>
    <div class="container text-white">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-dark text-center text-light py-3 mt-5">
        <p class="mb-0">
            © 2025 Jogos143 — Todos os direitos reservados.
        </p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<script src="~/js/site.js"></script>

</html>