<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Jogos143</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Jogos143.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="top-header">
        <div class="logo-area">
            <a asp-controller="Home" asp-action="Index" class="a">
            <img src="/img/Logo.png" class="logo-icon" />
				<span class="logo-text">Jogos143</span>
			</a>
        </div>
    </header>

    <div class="container main-content">
        @RenderBody()
    </div>
    <footer class="main-footer">
        <p>© 2025 Jogos143 - Jogos entregue por E-mail</p>
    </footer>
</body>
</html>