@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', Sans Serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


body {
    min-height: 100%;
    background: radial-gradient(circle at 35% 20%, #1a1425 0%, #0f0d14 40%, #09070b 100%);
    background-attachment: fixed;
    color: #fff;
    margin: 0;
    overflow-x: hidden;
   
}

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle, rgba(168, 94, 255, 0.18) 0%, transparent 65%);
        pointer-events: none;
        animation: pulse 7s infinite alternate ease-in-out;
        z-index: -1;
    }

@keyframes pulse {
    0% {
        opacity: 0.18;
    }

    100% {
        opacity: 0.42;
    }
}



.top-header {
    background-color: #6b6b6b;
    padding: 15px 30px;
    display: flex;
    align-items: center;
}

.logo-area {
    display: flex;
    align-items: center;
}

.logo-icon {
    width: 100px;
    margin-right: 10px; 
    margin-left:10px;
}

.logo-text {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 12px rgba(168, 94, 255, 0.8), 0 0 28px rgba(168, 94, 255, 0.6);
    font-weight: 700;
}

.container {
   padding-top:12px
}

.item-image img {
    width: 120px;
    height: 150px;
    border-radius: 8px;
}

.input-group {
    margin-top: 12px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 16px 8px 16px;
    border-radius:24px;
    gap: 10px;
}


.input-field{
    flex: 1;
    width: 70%;
    border: none;
    background-color: transparent;
}

.input-field:focus {
        outline: none;
}

.item {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    margin-top: 12px;
    width:100%;
    max-height: 70%;
    overflow-y: auto;
    margin-left: 24%;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    border-radius: 14px;
    padding: 18px;
    border: 1px solid rgba(168, 94, 255, 0.30);
}

    .item {
        list-style: none;
        padding: 8px 12px;
        margin: 6px 0;
        border-left: 3px solid rgba(168,94,255,0.4);
        transition: .25s;
        font-size: 16px;
    }

        .item:hover {
            border-left: 3px solid rgba(168,94,255,1);
            text-shadow: 0 0 8px rgba(168,94,255,0.8);
            transform: translateX(6px);
            cursor: pointer;
        }

.linha {
    display: flex;
    align-items: center; 
    gap: 12px;
    color:white;
}

    .linha hr {
        flex: 1; 
        border-color:white;
        border-top: 1px solid white; 
    }

.item a {
    display: flex;
    gap: 12px;
    text-decoration: none;
}

.item-title {
    font-size: 18px;
    color: white;
}

.item-subititle {
    font-size: 12px;
    color: #666;
}

.item-description {
    font-size: 14px;
}

#no_results {
    display: none;
    text-align: center;
}

.game-list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 5px;
    margin-bottom:10px;
    max-width:100%;
}

.game-card {
    text-align: center;
    color: white;
    width: 150px;
    border-radius: 14px;
    overflow: hidden;
    transition: transform .25s, box-shadow .25s, border .25s;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
    border: 1px solid rgba(168, 94, 255, 0.15);
}

    .game-card:hover {
        transform: scale(1.07);
        box-shadow: 0 0 22px rgba(168, 94, 255, 0.75);
        border: 1px solid rgba(168, 94, 255, 1);
      
    }

    .game-card img {
        width: 150px;
        height: 200px;
        object-fit: cover;
        border-radius: 6px;
        box-shadow: 0px 0px 8px black;
    }

    .a {
        text-decoration: none;
        color: white; 
       transition: 0.5s ease;
    }

        .a:hover {
            color: mediumpurple; 
        }

.navbar-toggler {
    position: absolute;
    top: 5px;
    right: 10px;
}


.offcanvas {
    background: rgba(15, 12, 20, 0.95);
    backdrop-filter: blur(18px);
    border-left: 1px solid rgba(168, 94, 255, 0.45);
    box-shadow: -5px 0 30px rgba(168, 94, 255, 0.18);
}


#particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -2;
}


.galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.principal {
    width: 50rem;
    border-radius: 8px;
}

.miniaturas {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.mini {
    width: 150px;
    height: 70px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s;
}

    .mini:hover {
        opacity: 1;
        transform: scale(1.05);
    }
