html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #3f3f3f;
    margin: 0;
    font-family: Arial, sans-serif;
}

.top-header {
    background-color: #6b6b6b;
    padding: 15px 30px;
    display: flex;
    align-items: center;
}

.logo-area {
    display: flex;
    align-items: center;
}

.logo-icon {
    width: 50px;
    margin-right: 10px; 
}

.logo-text {
    font-size: 40px;
    font-weight: bold;
    color: #ffeaa7;
}

.game-list {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.game-card {
    text-align: center;
    color: white;
    width: 150px;
}

    .game-card img {
        width: 150px;
        height: 200px;
        object-fit: cover;
        border-radius: 6px;
        box-shadow: 0px 0px 8px black;
    }

    .a {
        text-decoration: none;
        color: white; 
       transition: 0.5s ease;
    }

        .a:hover {
            color: yellow; 
        }

.main-footer {
    background-color: #2e2e2e;
    padding: 20px 0;
    text-align: center;
    color: #dcdcdc;
    font-size: 14px;
    margin-top: 50px;
}