@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', Sans Serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    min-height: 100vh;
    background-color: #3f3f3f;
    margin: 0;
}

.top-header {
    background-color: #6b6b6b;
    padding: 15px 30px;
    display: flex;
    align-items: center;
}

.logo-area {
    display: flex;
    align-items: center;
}

.logo-icon {
    width: 50px;
    margin-right: 10px; 
}

.logo-text {
    font-size: 40px;
    font-weight: bold;
    color: #ffeaa7;
}


.item-image img {
    width: 100px;
    height: 120px;
    border-radius: 8px;
}

.input-group {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 16px 8px 8px;
    border-radius:24px;
    gap: 10px;
}

.input-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: yellow;
    border-radius: 100%;
    flex-shrink: 0;
}

.input-field{
    flex: 1;
    width: 100%;
    border: none;
    background-color: transparent;
}

.input-field:focus {
        outline: none;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
    margin-top: 12px;
    background-color:white;
    border-radius: 24px;
    padding: 14px;
    width: 40%;
    max-height: 70%;
    overflow-y:auto;
}

.item {
    display: flex;
    gap: 12px;
}

.item-title {
    font-size: 18px;
    color: #333;
}

.item-subititle {
    font-size: 12px;
    color: #666;
}

.item-description {
    font-size: 14px;
    color: #666;
}

.game-list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 15px;
}

.game-card {
    text-align: center;
    color: white;
    width: 150px;
}

    .game-card img {
        width: 150px;
        height: 200px;
        object-fit: cover;
        border-radius: 6px;
        box-shadow: 0px 0px 8px black;
    }

    .a {
        text-decoration: none;
        color: white; 
       transition: 0.5s ease;
    }

        .a:hover {
            color: yellow; 
        }

.main-footer {
    background-color: #2e2e2e;
    padding: 20px 0;
    text-align: center;
    color: #dcdcdc;
    font-size: 14px;
    margin-top: 50px;
}