@{
    ViewData["Title"] = "Home Page";
}


<div class="game-list">

    <div class="game-card">
        <a asp-controller="Jogos" asp-action="Raft" class="a">
        <img src="/img/Raft.jpg" />
			<p>Raft</p>
		</a>
    </div>

    <div class="game-card">
        <a asp-controller="Jogos" asp-action="CharruaSoccer" class="a">
        <img src="/img/charrua.jpg" />
			<p>Charrua Soccer</p>
		</a>
    </div>

    <div class="game-card">
        <a asp-controller="Jogos" asp-action="VolleyballUnbound" class="a">
        <img src="/img/Volleyball.jpg" />
			<p>Volleyball Unbound</p>
		</a>
    </div>

    <div class="game-card">
        <a asp-controller="Jogos" asp-action="StardewValley" class="a">
        <img src="/img/StardewValey.png" />
			<p>Stardew Valley</p>
		</a>
    </div>

    <div class="game-card">
        <a asp-controller="Jogos" asp-action="HollowKnight" class="a">
        <img src="/img/HollowKnight.png" />
			<p>Hollow Knight</p>
		</a>
    </div>

    <div class="game-card">
        <a asp-controller="Jogos" asp-action="NotHuman" class="a">
        <img src="/img/NotHuman.jpg" />
			<p>No, I'm not a Human</p>
		</a>
    </div>

    <div class="game-card">
        <a asp-controller="Jogos" asp-action="SanityLoops" class="a">
        <img src="/img/Sanity.jpg" />
			<p>Sanity Loops</p>
		</a>
    </div>

</div>

<div class="game-list">

    <div class="game-card">
        <a asp-controller="Jogos" asp-action="Normandy" class="a">
        <img src="/img/AFront.jpg" />
			<p>A Front too far Normandy</p>
		</a>
    </div>

    <div class="game-card">
        <a asp-controller="Jogos" asp-action="Cropia" class="a">
        <img src="/img/Cropia.jpg" />
			<p>Cropia</p>
		</a>
    </div>

    <div class="game-card">
        <a asp-controller="Jogos" asp-action="BankeryCafeSimulator" class="a">
        <img src="/img/Cafe.jpg" />
			<p>Bankery Cafe Simulator</p>
		</a>
    </div>

    <div class="game-card">
        <a asp-controller="Jogos" asp-action="TitanCheaser" class="a">
        <img src="/img/Titan.jpg" />
			<p>Titan Cheaser</p>
		</a>
    </div>

    <div class="game-card">
        <a asp-controller="Jogos" asp-action="FishingAdventure" class="a">
        <img src="/img/Fishing.jpg" />
			<p>Fishing Adventure</p>
		</a>
    </div>

    <div class="game-card">
        <a asp-controller="Jogos" asp-action="TheHord" class="a">
        <img src="/img/Horde.jpg" />
			<p>The hord wants you dead</p>
		</a>
    </div>

    <div class="game-card">
        <a asp-controller="Jogos" asp-action="TruckDriver" class="a">
        <img src="/img/Truck.jpg" />
			<p>Truck Driver</p>
		</a>
    </div>

</div>

