@{
    ViewData["Title"] = "Home Page";
}

<div class="game-list">

    <div class="game-card">
        <img src="/img/Raft.jpg" />
        <p>Raft</p>
    </div>

    <div class="game-card">
        <img src="/img/charrua.jpg" />
        <p>Charrua Soccer</p>
    </div>

    <div class="game-card">
        <img src="/img/Volleyball.jpg" />
        <p>Volleyball Unbound</p>
    </div>

    <div class="game-card">
        <img src="/img/StardewValey.png" />
        <p>Stardew Valley</p>
    </div>

    <div class="game-card">
        <img src="/img/HollowKnight.png" />
        <p>Hollow Knight</p>
    </div>

    <div class="game-card">
        <img src="/img/NotHuman.jpg" />
        <p>No, I'm not a Human</p>
    </div>

    <div class="game-card">
        <img src="/img/Sanity.jpg" />
        <p>Sanity Loops</p>
    </div>

</div>

<div class="game-list">

    <div class="game-card">
        <img src="/img/AFront.jpg" />
        <p>A Front too far Normandy</p>
    </div>

    <div class="game-card">
        <img src="/img/Cropia.jpg" />
        <p>Cropia</p>
    </div>

    <div class="game-card">
        <img src="/img/Cafe.jpg" />
        <p>Bankery Cafe Simulator</p>
    </div>

    <div class="game-card">
        <img src="/img/Titan.jpg" />
        <p>Titan Cheaser</p>
    </div>

    <div class="game-card">
        <img src="/img/Fishing.jpg" />
        <p>Fishing Adventure</p>
    </div>

    <div class="game-card">
        <img src="/img/NotHuman.jpg" />
        <p>No, I'm not a Human</p>
    </div>

    <div class="game-card">
        <img src="/img/Sanity.jpg" />
        <p>Sanity Loops</p>
    </div>

</div>

