@{
    ViewData["Title"] = "Jogos A-Z";
}

<div id="container">
    <div class="input-group">
        <input id="search" type="text" class="input-field" placeholder="Pesquisar">
    </div>

    <div id="games-list">
        <section class="letter-section" data-letter="A">
            <h3 class="linha">A <hr/></h3>
            <ul>
                <li class="item">
                    <a asp-controller="Jogos" asp-action="Normandy">
                        <div class="item-image">
                            <img src="~/img/AFront.jpg" alt="A Front too far Normandy">
                        </div>
                        <div class="item-content">
                            <h2 class="item-title">A Front too far Normandy</h2>
                        </a>
                        <div>
                        <p class="item-subtitle">
                            <i class="bi bi-controller"></i> Jogo (2018)
                        </p>
                    </div>
                </li>
            </ul>
        </section>

        <section class="letter-section" data-letter="B">
            <h3 class="linha">B <hr /></h3>
            <ul>
                <li class="item">
                    <a asp-controller="Jogos" asp-action="BankeryCafeSimulator">
                        <div class="item-image">
                            <img src="~/img/Cafe.jpg" alt="Bankery Cafe Simulator">
                        </div>
                        <div class="item-content">
                            <h2 class="item-title">Bankery Cafe Simulator</h2>
                        </a>
                        <div>
                        <p class="item-subtitle">
                            <i class="bi bi-controller"></i> Jogo (2025)
                        </p>

                    </div>
                </li>
            </ul>
        </section>

        <section class="letter-section" data-letter="C">
            <h3 class="linha">C <hr /></h3>
            <ul>
                <li class="item">
                    <a asp-controller="Jogos" asp-action="CharruaSoccer">
                        <div class="item-image">
                            <img src="~/img/Charrua.jpg" alt="Charrua Soccer"/>
                        </div>
                        <div class="item-content">
                            <h2 class="item-title">Charrua Soccer</h2>
                        </a>
                        <div>
                        <p class="item-subtitle">
                            <i class="bi bi-controller"></i> Jogo (2020)
                        </p>
                    </div>
                </li>

                <li class="item">
                    <a asp-controller="Jogos" asp-action="Cropia">
                        <div class="item-image">
                            <img src="~/img/Cropia.jpg" alt="Cropia">
                        </div>
                        <div class="item-content">
                            <h2 class="item-title">Cropia</h2>
                        </a>
                        <div>
                        <p class="item-subtitle">
                            <i class="bi bi-controller"></i> Jogo (2025)
                        </p>
                    </div>
                </li>

                <li class="item">
                    <a asp-controller="Jogos" asp-action="CyberShock">
                        <div class="item-image">
                            <img src="~/img/CyberSchock.jpg" alt="Cybershock: Future Parkour">
                        </div>
                        <div class="item-content">
                            <h2 class="item-title">Cybershock: Future Parkour</h2>
                    </a>
                    <div>
                        <p class="item-subtitle">
                            <i class="bi bi-controller"></i> Jogo (2020)
                        </p>
                    </div>
                </li>
            </ul>
        </section>

        <section class="letter-section" data-letter="D">
            <h3 class="linha">D <hr /></h3>
            <ul>
                @* <li class="item">
                    <a asp-controller="Jogos" asp-action="">
                        <div class="item-image">
                            
                        </div>
                        <div class="item-content">
                           
                    </a>
                    <p class="item-subtitle">
                       
                    </p>
                    </div>
                </li> *@
            </ul>
        </section>

        <section class="letter-section" data-letter="E">
            <h3 class="linha">E <hr /></h3>
            <ul>
               @* <li class="item">
                    <a asp-controller="Jogos" asp-action="">
                        <div class="item-image">
                          
                        </div>  
                        <div class="item-content">
                           </div>
                    </a>
                    <div>
                    <p class="item-subtitle">
                      
                    </p>
                    </div>
                </li>*@
            </ul>
        </section>

        <section class="letter-section" data-letter="F">
            <h3 class="linha">F <hr /></h3>
            <ul>
                <li class="item">
            <a asp-controller="Jogos" asp-action="FishingAdventure">
                        <div class="item-image">
                            <img src="~/img/Fishing.jpg" alt="Fishing Adventure">
                        </div>
                        <div class="item-content">
                        <h2 class="item-title">
                            Fishing Adventure
                        </h2>
                    </a>
                    <div>
                    <p class="item-subtitle">
                        <i class="bi bi-controller"></i>
                        Jogo (2019)
                    </p>
                    </div>
                </li>
            </ul>
        </section>

<section class="letter-section" data-letter="G">
    <h3 class="linha">G <hr /></h3>
    <ul>
        @* <li class="item">
                    <a asp-controller="Jogos" asp-action="">
                        <div class="item-image">

                        </div>  
                        <div class="item-content">
                           </div>
                    </a>
                    <div>
                    <p class="item-subtitle">

                    </p>
                    </div>
                </li>*@
    </ul>
</section>

<section class="letter-section" data-letter="H">
    <h3 class="linha">H <hr /></h3>
    <ul>
         <li class="item">
            <a asp-controller="Jogos" asp-action="HollowKnight">
                        <div class="item-image">
                    <img src="~/img/HollowKnight.png" alt="Hollow knight">
                        </div>  
                        <div class="item-content">
                    <h2 class="item-title">
                        Hollow Knight
                    </h2>
                    </a>
                    <div>
                <p class="item-subtitle">
                    <i class="bi bi-controller"></i>
                    Jogo (2017)
                </p>
                    </div>
                </li>

                <li class="item">
                    <a asp-controller="Jogos" asp-action="HouseDesigner">
                        <div class="item-image">
                            <img src="~/img/HouseDesigner.jpg" alt="House Designer Fix And Flip">
                        </div>
                        <div class="item-content">
                            <h2 class="item-title">
                                House Designer Fix And Flip
                            </h2>
                    </a>
                    <div>
                        <p class="item-subtitle">
                            <i class="bi bi-controller"></i>
                            Jogo (2023)
                        </p>
                    </div>
                </li>
            </ul>

</section>

<section class="letter-section" data-letter="I">
    <h3 class="linha">I <hr /></h3>
    <ul>
        @* <li class="item">
                    <a asp-controller="Jogos" asp-action="">
                        <div class="item-image">

                        </div>  
                        <div class="item-content">
                           </div>
                    </a>
                    <div>
                    <p class="item-subtitle">

                    </p>
                    </div>
                </li>*@
    </ul>
</section>

<section class="letter-section" data-letter="J">
    <h3 class="linha">J <hr /></h3>
    <ul>
        @* <li class="item">
                    <a asp-controller="Jogos" asp-action="">
                        <div class="item-image">

                        </div>  
                        <div class="item-content">
                           </div>
                    </a>
                    <div>
                    <p class="item-subtitle">

                    </p>
                    </div>
                </li>*@
    </ul>
</section>

<section class="letter-section" data-letter="K">
    <h3 class="linha">K <hr /></h3>
    <ul>
        @* <li class="item">
                    <a asp-controller="Jogos" asp-action="">
                        <div class="item-image">

                        </div>  
                        <div class="item-content">
                           </div>
                    </a>
                    <div>
                    <p class="item-subtitle">

                    </p>
                    </div>
                </li>*@
    </ul>
</section>

<section class="letter-section" data-letter="L">
    <h3 class="linha">L <hr /></h3>
    <ul>
        @* <li class="item">
                    <a asp-controller="Jogos" asp-action="">
                        <div class="item-image">

                        </div>  
                        <div class="item-content">
                           </div>
                    </a>
                    <div>
                    <p class="item-subtitle">

                    </p>
                    </div>
                </li>*@
    </ul>
</section>

<section class="letter-section" data-letter="M">
    <h3 class="linha">M <hr /></h3>
    <ul>
        @* <li class="item">
                    <a asp-controller="Jogos" asp-action="">
                        <div class="item-image">

                        </div>  
                        <div class="item-content">
                           </div>
                    </a>
                    <div>
                    <p class="item-subtitle">

                    </p>
                    </div>
                </li>*@
    </ul>
</section>

<section class="letter-section" data-letter="N">
    <h3 class="linha">N <hr /></h3>
    <ul>
        <li class="item">
                    <a asp-controller="Jogos" asp-action="NotHuman">
                        <div class="item-image">
                    <img src="~/img/NotHuman.jpg" alt="No, I'm not a Human">
                        </div>  
                        <div class="item-content">
                    <h2 class="item-title">
                        No, I'm not a Human
                    </h2>
                    </a>
                    <div>
                <p class="item-subtitle">
                    <i class="bi bi-controller"></i>
                    Jogo (2025)
                </p>

                    </div>
                </li>
    </ul>
</section>

<section class="letter-section" data-letter="O">
    <h3 class="linha">O <hr /></h3>
    <ul>
        @* <li class="item">
                    <a asp-controller="Jogos" asp-action="">
                        <div class="item-image">

                        </div>  
                        <div class="item-content">
                           </div>
                    </a>
                    <div>
                    <p class="item-subtitle">

                    </p>
                    </div>
                </li>*@
    </ul>
</section>

<section class="letter-section" data-letter="P">
    <h3 class="linha">P <hr /></h3>
    <ul>
         <li class="item">
                    <a asp-controller="Jogos" asp-action="PizzaTower">
                        <div class="item-image">
                            <img src="~/img/PizzaTower.png" alt="Pizza Tower">
                        </div>  
                        <div class="item-content">
                            <h2 class="item-title">
                                Pizza Tower
                            </h2>
                    </a>
                    <div>
                        <p class="item-subtitle">
                            <i class="bi bi-controller"></i>
                            Jogo (2023)
                        </p>
                    </div>
                </li>
 
                <li class="item">
                    <a asp-controller="Jogos" asp-action="PhoenixWr">
                        <div class="item-image">
                            <img src="~/img/Phoenixwight-AceAttorney.jpg" alt=" Phoenix Wright: Ace Attorney Trilogy">
                        </div>
                        <div class="item-content">
                            <h2 class="item-title">
                                Phoenix Wright: Ace Attorney Trilogy
                            </h2>
                    </a>
                    <div>
                        <p class="item-subtitle">
                            <i class="bi bi-controller"></i>
                            Jogo (2014)
                        </p>
                    </div>
                </li>
            </ul>

</section>

<section class="letter-section" data-letter="Q">
    <h3 class="linha">Q <hr /></h3>
    <ul>
        @* <li class="item">
                    <a asp-controller="Jogos" asp-action="">
                        <div class="item-image">

                        </div>  
                        <div class="item-content">
                           </div>
                    </a>
                    <div>
                    <p class="item-subtitle">

                    </p>
                    </div>
                </li>*@
    </ul>
</section>

<section class="letter-section" data-letter="R">
    <h3 class="linha">R <hr /></h3>
    <ul>
         <li class="item">
                    <a asp-controller="Jogos" asp-action="Raft">
                        <div class="item-image">
                            <img src="~/img/Raft.jpg" alt="Raft">
                        </div>  
                        <div class="item-content">
                            <h2 class="item-title">
                                Raft
                            </h2>
                    </a>
                    <div>
                        <p class="item-subtitle">
                            <i class="bi bi-controller"></i>
                            Jogo (2018)
                        </p>
                    </div>
                </li>
    </ul>
</section>

<section class="letter-section" data-letter="S">
    <h3 class="linha">S <hr /></h3>
    <ul>
         <li class="item">
                    <a asp-controller="Jogos" asp-action="SanityLoops">
                        <div class="item-image">
                            <img src="~/img/Sanity.jpg" alt="Sanity Loops">
                        </div>  
                        <div class="item-content">
                            <h2 class="item-title">
                                Sanity Loops
                            </h2>
                    </a>
                    <div>
                        <p class="item-subtitle">
                            <i class="bi bi-controller"></i>
                            Jogo (2025)
                        </p>
                    </div>
                </li>

                <li class="item">
                    <a asp-controller="Jogos" asp-action="StardewValley">
                        <div class="item-image">
                            <img src="~/img/StardewValey.png" alt="Stardew Valley">
                        </div>
                        <div class="item-content">
                            <h2 class="item-title">
                                Stardew Valley
                            </h2>
                    </a>
                    <div>
                        <p class="item-subtitle">
                            <i class="bi bi-controller"></i>
                            Jogo (2016)
                        </p>
                    </div>
                </li>

    </ul>
</section>

<section class="letter-section" data-letter="T">
    <h3 class="linha">T <hr /></h3>
    <ul>
         <li class="item">
                    <a asp-controller="Jogos" asp-action="TheHord">
                        <div class="item-image">
                            <img src="~/img/Horde.jpg" alt="The hord wants you dead">
                        </div>  
                        <div class="item-content">
                            <h2 class="item-title">
                                The hord wants you dead
                            </h2>
                    </a>
                    <div>
                        <p class="item-subtitle">
                            <i class="bi bi-controller"></i>
                            Jogo (2025)
                        </p>
                    </div>
                </li>

                <li class="item">
                    <a asp-controller="Jogos" asp-action="TitanCheaser">
                        <div class="item-image">
                            <img src="~/img/Titan.jpg" alt="Titan Cheaser">
                        </div>
                        <div class="item-content">
                            <h2 class="item-title">
                                Titan Cheaser
                            </h2>
                    </a>
                    <div>
                        <p class="item-subtitle">
                            <i class="bi bi-controller"></i>
                            Jogo (2021)
                        </p>
                    </div>
                </li>

                <li class="item">
                    <a asp-controller="Jogos" asp-action="TruckDriver">
                        <div class="item-image">
                            <img src="~/img/Truck.jpg" alt="Truck Driver">
                        </div>
                        <div class="item-content">
                            <h2 class="item-title">
                                Truck Driver
                                </h2>
                    </a>
                    <div>
                        <p class="item-subtitle">
                            <i class="bi bi-controller"></i>
                            Jogo (2019)
                        </p>
                    </div>
                </li>

                <li class="item">
                    <a asp-controller="Jogos" asp-action="theRpg">
                        <div class="item-image">
                            <img src="~/img/TheRPG.jpeg" alt="The RPG">
                        </div>
                        <div class="item-content">
                            <h2 class="item-title">
                                The RPG
                            </h2>
                    </a>
                    <div>
                        <p class="item-subtitle">
                            <i class="bi bi-controller"></i>
                            Jogo (2025)
                        </p>
                    </div>
                </li>
    </ul>
</section>

<section class="letter-section" data-letter="U">
    <h3 class="linha">U <hr /></h3>
    <ul>
        @* <li class="item">
                    <a asp-controller="Jogos" asp-action="">
                        <div class="item-image">

                        </div>  
                        <div class="item-content">
                           </div>
                    </a>
                    <div>
                    <p class="item-subtitle">

                    </p>
                    </div>
                </li>*@
    </ul>
</section>

<section class="letter-section" data-letter="V">
    <h3 class="linha">V <hr /></h3>
    <ul>
         <li class="item">
                    <a asp-controller="Jogos" asp-action="VolleyballUnbound">
                        <div class="item-image">
                            <img src="~/img/Volleyball.jpg" alt="Volleyball Unbound">
                        </div>  
                        <div class="item-content">
                            <h2 class="item-title">
                                Volleyball Unbound
                            </h2>
                    </a>
                    <div>
                        <p class="item-subtitle">
                            <i class="bi bi-controller"></i>
                            Jogo (2016)
                        </p>
                    </div>
                </li>
    </ul>
</section>

<section class="letter-section" data-letter="W">
    <h3 class="linha">W <hr /></h3>
    <ul>
        @* <li class="item">
                    <a asp-controller="Jogos" asp-action="">
                        <div class="item-image">

                        </div>  
                        <div class="item-content">
                           </div>
                    </a>
                    <div>
                    <p class="item-subtitle">

                    </p>
                    </div>
                </li>*@
    </ul>
</section>

<section class="letter-section" data-letter="X">
    <h3 class="linha">X <hr /></h3>
    <ul>
        @* <li class="item">
                    <a asp-controller="Jogos" asp-action="">
                        <div class="item-image">

                        </div>  
                        <div class="item-content">
                           </div>
                    </a>
                    <div>
                    <p class="item-subtitle">

                    </p>
                    </div>
                </li>*@
    </ul>
</section>

<section class="letter-section" data-letter="Y">
    <h3 class="linha">Y <hr /></h3>
    <ul>
        @* <li class="item">
                    <a asp-controller="Jogos" asp-action="">
                        <div class="item-image">

                        </div>  
                        <div class="item-content">
                           </div>
                    </a>
                    <div>
                    <p class="item-subtitle">

                    </p>
                    </div>
                </li>*@
    </ul>
</section>

<section class="letter-section" data-letter="Z">
    <h3 class="linha">Z <hr /></h3>
    <ul>
        @* <li class="item">
                    <a asp-controller="Jogos" asp-action="">
                        <div class="item-image">

                        </div>  
                        <div class="item-content">
                           </div>
                    </a>
                    <div>
                    <p class="item-subtitle">

                    </p>
                    </div>
                </li>*@
    </ul>
</section>

        <div id="no_results">
            <p>Nenhum resultado encontrado</p>
        </div>
    </div>
</div>
