<div class="game-list">

    <div class="game-card">
        <img src="/Content/img/raft.jpg" />
        <p>Raft</p>
    </div>

    <div class="game-card">
        <img src="/Content/img/charrua.jpg" />
        <p>Charrua Soccer</p>
    </div>

    <div class="game-card">
        <img src="/Content/img/volley.jpg" />
        <p>Volleyball Unbound</p>
    </div>

    <div class="game-card">
        <img src="/Content/img/stardew.jpg" />
        <p>Stardew Valley</p>
    </div>

    <div class="game-card">
        <img src="/Content/img/hollow.jpg" />
        <p>Hollow Knight</p>
    </div>

    <div class="game-card">
        <img src="/Content/img/nohuman.jpg" />
        <p>No, I'm not a Human</p>
    </div>

</div>
