@{
    ViewData["Title"] = "Jogos A-Z";
}

<div id="container">
    <div class="input-group">
        <div class="input-icon">
            <i class="bi bi-search"></i>
        </div>
        <input id="search" type="text" class="input-field" placeholder="Pesquisar">
    </div>

    <ul class="items">
        <li class="item">
            <div class="item-image">
                <img src="~/img/Raft.jpg" alt="Raft">
            </div>
            <div class="item-content">
                <h2 class="item-title">
                    Raft
                </h2>
                <p class="item-subtitle">
                    <i class="bi bi-controller"></i>
                    Jogo (2018)
                </p>

                <p class="item-description">
                    Um popular jogo de sobrevivência em mundo aberto onde o jogador começa em uma...

                </p>
            </div>
        </li>

        <li class="item">
            <div class="item-image">
                <img src="~/img/Charrua.jpg" alt="Raft">
            </div>
            <div class="item-content">
                <h2 class="item-title">
                    Charrua Soccer
                </h2>
                <p class="item-subtitle">
                    <i class="bi bi-controller"></i>
                    Jogo (2020)
                </p>

                <p class="item-description">
                    Charrua Soccer é um jogo eletrônico de futebol estilo fliperama...

                </p>
            </div>
        </li>

        <li class="item">
            <div class="item-image">
                <img src="~/img/Volleyball.jpg" alt="Raft">
            </div>
            <div class="item-content">
                <h2 class="item-title">
                    Volleyball Unbound
                </h2>
                <p class="item-subtitle">
                    <i class="bi bi-controller"></i>
                    Jogo (2016)
                </p>

                <p class="item-description">
                    Volleyball Unbound (nome completo: Volleyball Unbound - Pro Beach Volleyball)
                    é um jogo eletrônico de vôlei...

                </p>
            </div>
        </li>

        <li id="no_results">
            <p>
                Nenhum resultado Encontrado
            </p>
        </li>

    </ul>

</div>
