@{
    ViewData["Title"] = "Jogos A-Z";
}

<div id="container">
    <div class="input-group">
        <input id="search" type="text" class="input-field" placeholder="Pesquisar">
    </div>

    

    <ul class="items">
        <h3 class="linha">A <hr /></h3>
        <li class="item">
             <a asp-controller="Jogos" asp-action="Normandy">
            <div class="item-image">
                <img src="~/img/AFront.jpg" alt="A Front too far Normandy">
            </div>
            <div class="item-content">
                <h2 class="item-title">
                    A Front too far Normandy
                </h2>
                </a>
                <p class="item-subtitle">
                    <i class="bi bi-controller"></i>
                    Jogo (2018)
                </p>

                <p class="item-description">
                   

                </p>
</div></li>
            
        <h3 class="linha">B <hr /></h3>
        <li class="item">
             <a asp-controller="Jogos" asp-action="BankeryCafeSimulator">
            <div class="item-image">
                <img src="~/img/Cafe.jpg" alt="Bankery Cafe Simulator">
            </div>
            <div class="item-content">
                <h2 class="item-title">
                    Bankery Cafe Simulator
                </h2>
                </a>
                <p class="item-subtitle">
                    <i class="bi bi-controller"></i>
                    Jogo (2025)
                </p>

                <p class="item-description">
                  

                </p>
            </div>
        </li>

        <h3 class="linha">C <hr /></h3>
        <li class="item">
             <a asp-controller="Jogos" asp-action="CharruaSoccer">
            <div class="item-image">
                <img src="~/img/Charrua.jpg" alt="Charrua Soccer">
            </div>
            <div class="item-content">
                <h2 class="item-title">
                    Charrua Soccer
                </h2>
                </a>
                <p class="item-subtitle">
                    <i class="bi bi-controller"></i>
                    Jogo (2020)
                </p>

                <p class="item-description">
                  

                </p>
            </div>
            </li>
        <li class="item">
             <a asp-controller="Jogos" asp-action="Cropia">
            <div class="item-image">
                <img src="~/img/Cropia.jpg" alt="Cropia">
            </div>
            <div class="item-content">
                <h2 class="item-title">
                    Cropia
                </h2>
                </a>
                <p class="item-subtitle">
                    <i class="bi bi-controller"></i>
                    Jogo (2025)
                </p>

                <p class="item-description">


                </p>
            </div>
        </li>

        <h3 class="linha">D <hr /></h3>

        <h3 class="linha">E <hr /></h3>

        <h3 class="linha">F <hr /></h3>
        <li class="item">
            <a asp-controller="Jogos" asp-action="FishingAdventure">
            <div class="item-image">
                <img src="~/img/Fishing.jpg" alt="Fishing Adventure">
            </div>
            <div class="item-content">
                <h2 class="item-title">
                    Fishing Adventure
                </h2>
                </a>
                <p class="item-subtitle">
                    <i class="bi bi-controller"></i>
                    Jogo (2019)
                </p>

                <p class="item-description">


                </p>
            </div>
        </li>

        <h3 class="linha">G <hr /></h3>

        <h3 class="linha">H <hr /></h3>
        <li class="item">
            <a asp-controller="Jogos" asp-action="HollowKnight">
            <div class="item-image">
                <img src="~/img/HollowKnight.png" alt="Hollow Knight">
            </div>
            <div class="item-content">
                <h2 class="item-title">
                    Hollow Knight
                </h2>
                </a>
                <p class="item-subtitle">
                    <i class="bi bi-controller"></i>
                    Jogo (2017)
                </p>

                <p class="item-description">


                </p>
            </div>
        </li>

        <h3 class="linha">I <hr /></h3>

        <h3 class="linha">J <hr /></h3>

        <h3 class="linha">K <hr /></h3>

        <h3 class="linha">L <hr /></h3>

        <h3 class="linha">M <hr /></h3>

        <h3 class="linha">N <hr /></h3>
        <li class="item">
              <a asp-controller="Jogos" asp-action="NotHuman">
            <div class="item-image">
                <img src="~/img/NotHuman.jpg" alt="No, I'm not a Human">
            </div>
            <div class="item-content">
                <h2 class="item-title">
                    No, I'm not a Human
                </h2>
                </a>
                <p class="item-subtitle">
                    <i class="bi bi-controller"></i>
                    Jogo (2025)
                </p>

                <p class="item-description">


                </p>
            </div>
        </li>
        <h3 class="linha">O <hr /></h3>

        <h3 class="linha">P <hr /></h3>

        <h3 class="linha">Q <hr /></h3>

        <h3 class="linha">R <hr /></h3>
        <li class="item">
             <a asp-controller="Jogos" asp-action="Raft">
            <div class="item-image">
                <img src="~/img/Raft.jpg" alt="Raft">
                </div>
           
            <div class="item-content">
                <h2 class="item-title">
                    Raft
                    </h2>
            </a>
                <p class="item-subtitle">
                    <i class="bi bi-controller"></i>
                    Jogo (2018)
                </p>

                <p class="item-description">


                </p>
            </div>
        </li>

        <h3 class="linha">S <hr /></h3>
        <li class="item">
             <a asp-controller="Jogos" asp-action="SanityLoops">
            <div class="item-image">
                <img src="~/img/Sanity.jpg" alt="Sanity Loops">
            </div>
            <div class="item-content">
                <h2 class="item-title">
                    Sanity Loops
                </h2>
                </a>
                <p class="item-subtitle">
                    <i class="bi bi-controller"></i>
                    Jogo (2025)
                </p>

                <p class="item-description">


                </p>
            </div>
        </li>
        <li class="item">
             <a asp-controller="Jogos" asp-action="StardewValley" class="a">
            <div class="item-image">
                <img src="~/img/StardewValey.png" alt="Stardew Valley">
            </div>
            <div class="item-content">
                <h2 class="item-title">
                    Stardew Valley
                </h2>
                </a>
                <p class="item-subtitle">
                    <i class="bi bi-controller"></i>
                    Jogo (2016)
                </p>

                <p class="item-description">


                </p>
           
        </li>

        <h3 class="linha">T <hr /></h3>
        <li class="item">
            <a asp-controller="Jogos" asp-action="TheHord">
            <div class="item-image">
                <img src="~/img/Horde.jpg" alt="The hord wants you dead">
            </div>
            <div class="item-content">
                <h2 class="item-title">
                    The hord wants you dead
                </h2>
                </a>
                <p class="item-subtitle">
                    <i class="bi bi-controller"></i>
                    Jogo (2025)
                </p>

                <p class="item-description">


                </p>
            </div>
        </li>
        <li class="item">
             <a asp-controller="Jogos" asp-action="TitanCheaser">
            <div class="item-image">
                <img src="~/img/Titan.jpg" alt="Titan Cheaser">
            </div>
            <div class="item-content">
                <h2 class="item-title">
                    Titan Cheaser
                </h2>
                </a>
                <p class="item-subtitle">
                    <i class="bi bi-controller"></i>
                    Jogo (2021)
                </p>

                <p class="item-description">


                </p>
            </div>
        </li>
        <li class="item">
             <a asp-controller="Jogos" asp-action="TruckDriver">
            <div class="item-image">
                <img src="~/img/Truck.jpg" alt="Truck Driver">
            </div>
            <div class="item-content">
                <h2 class="item-title">
                    Truck Driver
            </h2>
            </a>
                <p class="item-subtitle">
                    <i class="bi bi-controller"></i>
                    Jogo (2019)
                </p>

                <p class="item-description">


                </p>
            </div>
        </li>

        <h3 class="linha">U <hr /></h3>

        <h3 class="linha">V <hr /></h3>
        <li class="item">
            <a asp-controller="Jogos" asp-action="VolleyballUnbound">
            <div class="item-image">
                <img src="~/img/Volleyball.jpg" alt="Volleyball Unbound">
            </div>
            <div class="item-content">
                <h2 class="item-title">
                    Volleyball Unbound
                </h2>
                </a>
                <p class="item-subtitle">
                    <i class="bi bi-controller"></i>
                    Jogo (2016)
                </p>

                <p class="item-description">


                </p>
            </div>
        </li>

        <h3 class="linha">W <hr /></h3>

        <h3 class="linha">X <hr /></h3>

        <h3 class="linha">Y <hr /></h3>

        <h3 class="linha">Z <hr /></h3>


        <li id="no_results">
            <p>
                Nenhum resultado Encontrado
            </p>
        </li>
        </<ul>


</div>
